.landingpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landingpage-text10 {
  top: 43px;
  color: rgba(0, 0, 0, 1);
  right: 300px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.landingpage-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 64px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landingpage-text12 {
  color: rgba(0, 0, 0, 0.75);
  height: auto;
  font-size: 128px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landingpage-landingpage {
  width: 100%;
  height: 3137px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(252, 244, 227, 1);
}
.landingpage-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 164px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(252, 244, 227, 1);
}
.landingpage-text13 {
  top: 503px;
  left: 642px;
  color: rgba(0, 0, 0, 1);
  width: 624px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landingpage-text14 {
  top: 1934px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  width: 624px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landingpage-copy {
  gap: 40px;
  top: 210px;
  left: 440px;
  width: 844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.landingpage-pagetitle {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landingpage-kedaartransparentbg21 {
  top: 97px;
  left: 1px;
  width: 460px;
  height: 817px;
  position: absolute;
}
.landingpage-rectangle1 {
  top: 913px;
  left: 1px;
  width: 1440px;
  height: 889px;
  position: absolute;
}
.landingpage-text15 {
  top: 1483px;
  left: 175px;
  color: rgba(252, 250, 250, 1);
  width: 1203px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landingpage-text16 {
  top: 2843px;
  left: 738px;
  color: rgba(0, 0, 0, 1);
  width: 498px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landingpage-text17 {
  text-decoration: NONE;
}
.landingpage-text19 {
  text-decoration: NONE;
}
.landingpage-text20 {
  text-decoration: UNDERLINE;
}
.landingpage-screenshot20241210at45410pm1 {
  top: 2138px;
  left: 704px;
  width: auto;
  height: 454px;
  position: absolute;
}
.landingpage-screenshot20241210at45641pm1 {
  top: 2521px;
  left: 105px;
  width: auto;
  height: 510px;
  position: absolute;
}
.landingpage-text21 {
  top: 1262px;
  left: 560px;
  color: rgba(246, 245, 245, 1);
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 128px;
  font-style: SemiBold;
  text-align: left;
  font-family: IBM Plex Sans Devanagari;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landingpage-text22 {
  top: 2094px;
  left: 105px;
  color: rgba(0, 0, 0, 1);
  width: 498px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landingpage-text23 {
  font-weight: 700;
}
.landingpage-text24 {
  text-decoration: NONE;
}
.landingpage-text25 {
  text-decoration: UNDERLINE;
}
@media(max-width: 991px) {
  .landingpage-text21 {
    top: 1240px;
    left: 154px;
    width: auto;
    text-align: left;
  }
}
@media(max-width: 479px) {
  .landingpage-text10 {
    top: -10px;
    left: 73px;
  }
  .landingpage-kedaartransparentbg21 {
    top: 134px;
    right: -9px;
  }
  .landingpage-rectangle1 {
    width: auto;
  }
  .landingpage-text15 {
    top: 1483px;
    left: 0px;
    right: 0px;
    width: auto;
    margin: auto;
    display: grid;
    text-align: left;
    place-items: center;
  }
  .landingpage-screenshot20241210at45641pm1 {
    left: -19px;
    width: auto;
    bottom: 266px;
  }
  .landingpage-text21 {
    width: auto;
  }
  .landingpage-text22 {
    width: auto;
  }
}
